<div class='column is-one-third'>
  <nav class='panel'>
    <p class='panel-heading test'>MAN OF THE YEAR</p>
    <p class='panel-block cap'>
      <strong class='cap'>You're all invited to the celebration of the man of the year. confido!!!&nbsp;&nbsp;<%= link_to 'Attend this event', new_user_registration_path %></strong>
    </p><br>
   <%= image_tag("https://scontent.flos1-1.fna.fbcdn.net/v/t1.0-0/p640x640/80767072_10221662079968106_6212083028684963840_o.jpg?_nc_cat=110&_nc_sid=7aed08&_nc_eui2=AeGBG6Di1z77YzOR6mZpCEyy_gcZAwPD02f-BxkDA8PTZ2rIoU-0d9QpKYDRZn1F2MZsy7fP2u4uTTin-l1C4yIy&_nc_ohc=A90AHoPdEWkAX98PCA5&_nc_ht=scontent.flos1-1.fna&_nc_tp=6&oh=fdb4c9d7bf56eb0948e87c55dba29a66&oe=5F327DCB", :alt => "confidence", class: 'pic') %>
  </nav>
</div>